.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
}

h1{
    text-align: center;
    background: linear-gradient(to right, #e9ace3, #9947d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-wrapper{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}


#questionSelect {
    position: relative;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    width: 270px;
}

#questionDisplay,#userAnswer,#answerDisplay {
    display: none;
}

#questionDisplay, #resultDisplay {
    padding: 1.5rem 2rem;
    text-align: center;
}


#questionSelect:focus, #userAnswer:focus {
    outline: none;
    border-color: #fbd1f3; 
    box-shadow: 0 0 5px rgba(250, 220, 248, 0.5); 
}

#userAnswer, #answerDisplay {
    padding: 1.2rem 2rem;
    margin: 0 auto;
    width: 70%;
    min-height: 200px;
    background-color: #f7f7fc;
    border-radius: 10px;
}

#checkAnswer {
    background-color:#c572ef; /* Button background color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition */
    width: 170px;
    margin: 1.5rem 0;
}

#checkAnswer:hover {
    background-color:  #a75fd7; /* Slightly darker hover color */
}

pre {
    text-wrap: wrap;
    line-height: 2;
}